{% extends "base.html.twig" %}
    {%block body%}
    {% include "navbar.html.twig" %}

    <img src="https://nt.global.ssl.fastly.net/binaries/content/gallery/website/national/regions/sussex/places/bodiam-castle/library/winter/bodiam-castle-and-moat-in-winter-1456846.jpg?auto=webp&width=1200&crop=16:9" width="300" height="200" ></img>
    <br>
        <h2>About Me</h2>
        <p>Bonjour ! Je m'appelle <strong>Mohamed Chebbi</strong>, et j'ai 21 ans.</p>
        <p>J'étudie à <strong>ISET Tozeur</strong>, où j'apprends à coder et à améliorer mes compétences en développement.</p>
        {% include "footer.html.twig" %}

    {% endblock %}